# .dockerignore faylining misol tarkibi

# Git kataloglari va fayllari
.git
.gitignore

# Log fayllari
*.log

# Python virtual muhit katalogi
venv/
__pycache__/

# Mahalliy fayllar
*.sqlite3

# NPM yoki Yarn node_modules katalogi
node_modules/
